name: Create PDF release from markdown

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: |
          mkdir .old &&
          rsync -vr ./* .old/ --exclude .old &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/ALGO/ALGO.md > ALGO/ALGO.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/INV/README.md > INV/README.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/INV/INV.md > INV/INV.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/MAT/MAT.md > MAT/MAT.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/RES/README.md > RES/README.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/RES/RES.md > RES/RES.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/RES/LKF.md > RES/LKF.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/SCH/SCH.md > SCH/SCH.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/SCH/GET.md > SCH/GET.md &&
          awk '/!\[/{gsub(/<!--/,"{");gsub(/-->/,"}")};{gsub("<!--pagebreak-->","\\pagebreak")};{gsub("<!--newpage-->","\\newpage")};{gsub("<!--clearpage-->","\\clearpage")};{gsub("<!----------","---")};{gsub("---------->","...")};{print}' .old/SWE/SWE.md > SWE/SWE.md
      - run: |
          mkdir output
      - uses: docker://rstropek/pandoc-latex:latest # generate ABWL-LEDER pdf
        with:
          args: --output=output/ALGO.pdf --resource-path=ALGO/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose ALGO/ALGO.md
      - uses: docker://rstropek/pandoc-latex:latest # generate ASM-GUENTHER pdf
        with:
          args: --output=output/INV-ZUS.pdf --resource-path=INV/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose INV/README.md
      - uses: docker://rstropek/pandoc-latex:latest # generate DBS-DORENDORF pdf
        with:
          args: --output=output/INV.pdf --resource-path=INV/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose INV/INV.md
      - uses: docker://rstropek/pandoc-latex:latest # generate PRO-KASCHE pdf
        with:
          args: --output=output/MAT.pdf --resource-path=MAT/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose MAT/MAT.md
      - uses: docker://rstropek/pandoc-latex:latest # generate SWE-KASCHE pdf
        with:
          args: --output=output/BS.pdf --resource-path=RES/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose RES/RES.md
      - uses: docker://rstropek/pandoc-latex:latest # generate SWE-KASCHE pdf
        with:
          args: --output=output/BS-ZUS.pdf --resource-path=RES/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose RES/README.md
      - uses: docker://rstropek/pandoc-latex:latest # generate EMB-GUENTHER pdf
        with:
          args: --output=output/BS-LKF.pdf --resource-path=BS/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose RES/LKF.md
      - uses: docker://rstropek/pandoc-latex:latest # generate OOP-CASSELT pdf
        with:
          args: --output=output/LABOR1.pdf --resource-path=SCH/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose SCH/SCH.md
      - uses: docker://rstropek/pandoc-latex:latest # generate MPP-PI pdf
        with:
          args: --output=output/LABOR2.pdf --resource-path=SCH/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose SCH/GET.md
      - uses: docker://rstropek/pandoc-latex:latest 
        with:
          args: --output=output/SWE.pdf --resource-path=SWE/ --template https://raw.githubusercontent.com/Wandmalfarbe/pandoc-latex-template/v2.0.0/eisvogel.tex --pdf-engine=xelatex --listings -f markdown+raw_tex --verbose SWE/SWE.md
      - uses: actions/upload-artifact@master # upload pdfs as an artifact
        with:
          name: output
          path: output
  release_pdfs:
    runs-on: ubuntu-18.04
    needs: convert_via_pandoc
    if: github.ref == 'refs/heads/main' # only publish if commited to the main branch
    steps:
      - name: Retrieve saved Docker image
        uses: actions/download-artifact@v2
        with:
          name: output
          path: output
      - uses: meeDamian/github-release@2.0 # create/override a release and attach a pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/ALGO.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/INV-ZUS.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/INV.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/MAT.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/BS.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/BS-ZUS.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/BS-LKF.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/LABOR1.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/LABOR2.pdf
          allow_override: true
      - uses: meeDamian/github-release@2.0 # override release to attach another pdf
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          tag: pdf-release
          name: PDFs
          body: Automated release
          gzip: false
          files: output/SWE.pdf
          allow_override: true
